body {
  margin: 0;
  font-family: -apple-system, BlinkMacSystemFont, 'Segoe UI', 'Roboto', 'Oxygen',
    'Ubuntu', 'Cantarell', 'Fira Sans', 'Droid Sans', 'Helvetica Neue',
    sans-serif;
  -webkit-font-smoothing: antialiased;
  -moz-osx-font-smoothing: grayscale;
}

code {
  font-family: source-code-pro, Menlo, Monaco, Consolas, 'Courier New',
    monospace;
}
.box{
  display: flex;
  flex-direction: row;
  flex-wrap: wrap;
  background-color: white;

}
.flex-container {
  display: flex;
  background-color: white;
  flex-direction: column;
  flex-wrap: wrap;
}

.flex-container > div {
  background-color: #f1f1f1;
  margin: 10px;
  padding: 20px;
  font-size: 30px;
}
h4{text-align: center;}
.menu-container{
  display: flex;
 
  flex-wrap:wrap
}
.menu-item{
  flex-basis: 25%;
}